*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: serif;
}

/* navber */

nav{
    background-color: #F9F7F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4rem;
}

.button{
    background-color: #B4F461;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    font-style: bold;
    font-weight: 700;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.coin-color{
    color: #111111B3;
}

/* Main */
/* Button Part */
.btn-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 50px 0px;
}

.donation{
    background-color: #B4F461;
    padding: 16px 32px;
    border: none;
    border-radius: 15px;
    font-style: bold;
    font-weight: 700;
}

.history{
    color: #111111B3;
    padding: 16px 32px;
    border: 1px solid #111111B3;
    border-radius: 15px;
    font-style: bold;
    font-weight: 700;
}





/* Responsive Desgin */
@media screen and (max-width: 600px) {
    
    nav{
        padding: 0px;
    }

    .button{
        padding: 10px 20px;
        font-weight: 500;
    }

    .title{
        gap: 0px;
    }
}