* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: white;
    font-family: "Lexend", serif;
}

/* navber */

nav {
    background-color: #F9F7F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4rem;
}

.button {
    background-color: #B4F461;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    font-style: bold;
    font-weight: 700;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.coin-color {
    color: #111111B3;
}

/* Main */
main {
    margin: 80px;
}

/* Button Part */
.btn-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 50px 0px;
}

.donation {
    background-color: #B4F461;
    padding: 16px 32px;
    border: none;
    border-radius: 15px;
    font-style: bold;
    font-weight: 700;
}

.history-btn {
    color: #111111B3;
    padding: 16px 32px;
    border: 1px solid #111111B3;
    border-radius: 15px;
    font-style: bold;
    font-weight: 700;
}

/* Donation Part */
.donate {
    border: 1px solid #1111111A;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.donate-amount {
    display: flex;
    align-items: center;
    background-color: #1111110D;
    border-radius: 8px;
    width: 143px;
    justify-content: center;
    padding: 5px;
    gap: 5px;
}

.headline {
    font-weight: bold;
    font-size: 23px;
    padding: 16px 0px;
}

.input {
    color: #11111166;
    padding: 18px;
    border-radius: 8px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 16px;
    border: gray 1px solid;
}

.donate-now {
    background-color: #B4F461;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-style: bold;
    font-weight: 900;
    text-align: center;
    width: 100%;
}

/* History */
.history{
    border: 1px solid #1111111A;
    border-radius: 16px;
    padding: 32px;
}

.histroy-title{
    margin-top: 16px;
    color: #111111B3;
}


/* Responsive Desgin */
@media screen and (max-width: 600px) {

    nav {
        padding: 0px;
    }

    .button {
        padding: 10px 20px;
        font-weight: 500;
    }

    .title {
        gap: 0px;
    }

    /* Main */
    main {
        margin: 5px;
    }

    /* Button Part */
    .btn-part {
        margin: 30px 0px;
    }

    /* Donation Part */
    .donate {
        padding: 5px;
        flex-direction: column;
        gap: 10px;
    }
}